.rodape1 {
  background-color: #f1f2fa;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.rodape1 ul li {
  display: inline;
}

#logo-rodape {
  width: 100px;
}

.rodape1 ul {
  margin-bottom: 0 !important;
}

.brands {
  width: 20px;
  margin: 0 20px;
}

#logo-app-rodape {
  width: 50px;
  display: inline;
  margin-right: 10px;
  float: left;
}

.rodape2 {
  background-color: #f1f2fa;
}

.rodape2 p {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-weight: bold;
  display: inline;
}

@media screen and (max-width: 500px) {
  .brands {
    margin: 0 10px;
  }
}

@media screen and (min-width: 760px) {
  .rodape1 ul {
    float: right;
  }
} ;
